@import 'bootstrap/scss/bootstrap';

// Colores principales
:root {
  --color-primario: #F16D48;
  --color-secundario: #35F97B;
  --color-terciario: #49B2F5;

  // Escala de grises
  --color-blanco: #FFFFFF;
  --color-gris-claro: #F5F5F5;
  --color-gris-medio: #CCCCCC;
  --color-gris-oscuro: #888888;
  --color-negro: #000000;
}

/***************
 * FORMULARIOS *
 ***************/

/***************
 *   INPUTS    *
 ***************/
/* Estilo base para todos los inputs */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid var(--color-gris-medio); /* Borde gris claro */
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}
/* Cambia el borde cuando el input está en foco */
input[type="text"]:focus,
input[type="password"]:focus {
  border-color: var(--color-primario); /* Cambia a color primario en foco */
  box-shadow: 0px 0px 5px rgba(241, 109, 72, 0.5); /* Sutil sombra */
}
/* Color del placeholder */
input::placeholder {
  color: var(--color-negro);
  opacity: 0.7;
}

/***************
 *   BUTTON    *
 ***************/
.btn-primary {
  background-color: var(--color-primario);
  color: var(--color-gris-claro);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0.5rem;
  &:hover {
    background-color: var(--color-terciario);
  }
}
.btn-secondary {
  background-color: var(--color-terciario);
  color: var(--color-gris-claro);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0.5rem;
  &:hover {
    background-color: var(--color-secundario);
  }
}
