<div class="d-flex flex-column full-height">

  <header class="d-flex flex-row justify-content-between home-header">
    <p>logo</p>
    <h1>Bienvenido a Social Media</h1>
    <p>login</p>
  </header>

  <main class="d-flex flex-row justify-content-center p-3 home-content">
    <section class="d-flex left-content">
      <p>Explora, conecta y comparte con tus amigos.</p>
    </section>
    <section class="mx-3 border right-content">
      <img src="../../assets/images/logo.svg" alt="Social Media Logo"/>
      <form class="d-flex flex-column">
        <div class="m-1">
          <input class="" type="text" id="username" class="form-control" placeholder="Ingresa tu nombre de usuario">
        </div>
        <div class="m-1">
          <input type="password" id="password" class="form-control" placeholder="Ingresa tu contraseña">
        </div>
        <button type="submit" class="m-1 btn-accent d-block">Iniciar sesión</button>
        <button type="submit" class="m-1 btn-accent d-block">registrarse</button>
      </form>
    </section>
  </main>
  <footer class="home-footer">
    <p>© 2024 Social Media. Todos los derechos reservados.</p>
  </footer>
</div>
